graft docs
graft src

include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include tox.ini
include DEVELOPMENT.md
include FILE_DESCRIPTIONS.md
include get_parameters.py
include Pipfile

global-exclude *.py[co]
exclude .ionize.yaml